
<ion-view title="Edit bear">
  <ion-content class="padding">
  EDIT
  <div class="list">
    <label class="item item-input item-stacked-label">
      <span class="input-label">Navn på drikken</span>
      <input type="text" placeholder="Corona">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Kategori</span>
      <input type="text" placeholder="Øl, whiskey, brennevin?">
    </label>
    <label class="item item-input item-stacked-label">
      <span class="input-label">Tags</span>
      <input type="text" placeholder="Maks fire beskrivende ord">
    </label>
      <label class="item item-input item-stacked-label">
      <span class="input-label">Vurdering</span>
        <div class=" range range-positive">
      <i class="icon ion-ios-heart-outline"></i>
      <input type="range" name="volume" min="1" max="4" value="1">
      <i class="icon ion-ios-heart"></i>
      </div>
    </label>
    </label>
      <label class="item item-input item-stacked-label">
      <span class="input-label">Din personlige kommentar</span>
      <textarea placeholder="Jeg synes at.."></textarea>
    </label>
  </div>
<ion-nav-view></ion-nav-view>

  </ion-content>
    </ion-view>